* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--light-neutral-color);
}
section {
  margin: 50px;
}
.presentation {
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.presentation img {
  border-radius: 100px;
  width: 300px;
}
.presentation-description {
  width: 600px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}
.presentation-description .contact {
  width: fit-content;
  padding: 10px;
  background-color: var(--accent-color);
  border-radius: 10px;
  text-decoration: none;
  color: var(--text-color);
}
.presentation-description .contact:hover {
  box-shadow: var(--accent-glow-shadow);
  border-radius: var(--radius-md);
}
