:root {
  /* Color principal de la marca (Rojo) */
  --primary-color: #b72818;

  /* Color de acento o atención (Azul marino) */
  --accent-color: #1d3557;

  /* Color neutral de fondo o soporte (Gris claro) */
  --light-neutral-color: #bbb5ba;

  --text-color: white;

  --radius-md: 10px;
  --shadow:
    0 0 15px rgba(183, 40, 24, 0.35), 0 10px 35px rgba(29, 53, 87, 0.35);
}
